.add-form-wrapper {
  h3 {
    color: white;
    margin: 50px 0;
    font-weight: 300;
  }
  text-align: center;
  .add-form-inner {
    display: flex;
    justify-content: center;
    margin: 0 6vw 60px 6vw;
    // box-shadow: rgba(0, 0, 0, 0.616) 1.95px 1.95px 2.6px;

    .add-form-info-block {
      width: 50%;
      height: 100%;
      padding: 40px;
      text-align: center;
      font-size: 1.3vw;
      color: #fff;
      box-shadow: rgba(0, 0, 0, 0.342) 2px 2px 1.95px 1.95px;
      background: rgb(43, 17, 61);
      background: linear-gradient(
        241deg,
        rgba(43, 17, 61, 1) 0%,
        rgba(232, 123, 20, 1) 61%,
        rgb(243, 205, 153) 100%
      );
      border-radius: 20px;
      .form-btn {
        color: white !important;
        background-color: #3b2546 !important;
        margin-top: 15px;
        outline: none;
        border-color: #3b2546 !important;
        width: 10vw;
      }

      .input-field {
        margin: 5px 0;
        width: 30vw;
        font-size: 20px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
        outline-color: white;
      }
      .separator {
        // width: 40px;
        margin: 10px 10px 10px 10px;
        height: 1px;
      }
      .rocket-name {
        h4 {
          margin: 2vh 0 6vh 0;
        }
      }
      .item-lable {
        overflow: hidden;
        text-align: center;
        opacity: 0.6;
        margin: 10px;
        font-size: 14px;

        &:before,
        &:after {
          background-color: #fff;
          opacity: 0.4;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }
        &:before {
          right: 0.5em;
          margin-left: -50%;
        }
        &:after {
          left: 0.5em;
          margin-right: -50%;
        }
      }
    }
  }
}
