.detail-wrapper {
  .detail-inner {
    display: flex;
    justify-content: space-between;
    margin: 60px 6vw 60px 6vw;
    // box-shadow: rgba(0, 0, 0, 0.616) 1.95px 1.95px 2.6px;

    .detail-info-block {
      width: 50%;
      height: 100vh;
      padding: 0 40px 0 40px;
      text-align: center;
      font-size: 1.2vw;
      color: #fff;
      box-shadow: rgba(0, 0, 0, 0.342) 2px 2px 1.95px 1.95px;
      background: rgb(43, 17, 61);
      background: linear-gradient(
        241deg,
        rgba(43, 17, 61, 1) 0%,
        rgba(232, 123, 20, 1) 61%,
        rgba(240, 158, 43, 1) 100%
      );
      border-radius: 20px 0px 0px 20px;
      .separator {
        // width: 40px;
        margin: 10px 10px 10px 10px;
        height: 1px;
      }
      .rocket-name {
        h4 {
          margin: 2vh 0 6vh 0;
        }
      }
      .item-lable {
        overflow: hidden;
        text-align: center;
        opacity: 0.6;

        &:before,
        &:after {
          background-color: #fff;
          opacity: 0.4;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }
        &:before {
          right: 0.5em;
          margin-left: -50%;
        }
        &:after {
          left: 0.5em;
          margin-right: -50%;
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;

        .actions-item {
          &:hover {
            color: rgb(43, 42, 42);
          }
        }
      }
      .purchase-btn {
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.342) 2px 2px 1.95px 1.95px;
        background: rgb(60, 29, 73);
        background: linear-gradient(
          0deg,
          rgba(60, 29, 73, 1) 0%,
          rgba(226, 139, 7, 1) 100%
        );
        // margin-top: 15px;
        outline: none;
        border-color: #3b2546 !important;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 18vw;
        opacity: 0.8;
        &:hover {
          background-color: #5c3f6b !important;
        }
      }
    }
    .detail-img-block {
      background-image: url("/src/assets/image/catalog-bg.jpg");
      box-shadow: rgba(0, 0, 0, 0.342) 2px 2px 1.95px 1.95px;

      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px 20px 20px 0px;
      width: 50%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .rocket-img {
        height: 80vh;
        width: auto;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
